* {
  margin: 0;
  padding: 0;
}

html {
  background-color: #EEEEEE;
}

h1 {
  color: black;
  text-align: center;
}

h2 {
  color: black;
  text-align: center;
}

h3 {
  color: black;
}

p {
  color: black;
  font-size: 1.2rem;
}

a {
  color: #000bce;
}
a:visited {
  color: #000bce;
}

hr {
  color: #000bce;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.outerwrapper {
  padding: 1rem 12rem;
}
