.projects {
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 3rem;
}
.projects img {
  width: 100%;
  border-radius: 2rem;
}
.projects a {
  text-decoration: none;
  cursor: pointer;
}
.projects a span:hover {
  text-decoration: underline;
}

.section_subheading {
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

figure + span {
  display: block;
  text-align: center;
  font-size: 1.2rem;
  color: #000bce;
}

figure img {
  height: 100%;
}
