.project_window {
  margin: 2% 12%;
  padding: 2% 3%;
  border: 2px solid #000bce;
  border-radius: 100px;
}
.project_window h2 {
  text-decoration: none;
  font-size: 1.6rem;
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 1.5rem;
}
.project_window #body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
}
.project_window #body_img img {
  border-radius: 25px;
  width: 100%;
  margin: auto 0;
}
.project_window #body_text {
  font-size: 1.3rem;
}

@media (max-width: 800px) {
  #home_content #body {
    grid-template-columns: 100%;
  }
  #home_content #body_left {
    display: none;
  }

  .project_window {
    padding-bottom: 2rem;
  }
  .project_window #body {
    grid-template-columns: 100%;
  }
  .project_window #body_img {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
}
