body {
  font-size: 1.2rem;
  background: #EEEEEE;
  color: #000bce;
}
body a {
  color: #000bce;
}
body h1 {
  text-align: center;
  text-decoration: underline;
  font-family: "Arial Black", Gadget, sans-serif;
  margin-top: 1rem;
}
body h1, body h1 h2 {
  font-style: bold;
}
body h2 {
  margin-bottom: 0;
  margin-top: 0;
}

#outerwrapper {
  width: 100%;
}

#computer_skills {
  margin-bottom: 3rem;
  width: 100%;
}
#computer_skills ul {
  list-style-type: none;
}
#computer_skills ul li {
  display: block;
  float: left;
  margin: 0 2rem;
}
#computer_skills ul li img {
  height: 65px;
}

.single_element {
  width: 50%;
  margin: 0.5rem 25%;
  grid-template-columns: 100% !important;
}

.last_element {
  border-bottom: none !important;
}

#education {
  margin-bottom: 3rem;
  width: 100%;
}

.education_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0.5rem;
  text-align: center;
  margin: 0.5rem 25%;
  padding: 0.5rem 0;
  border-bottom: 1px solid #000bce;
}
.education_grid p {
  vertical-align: bottom;
  margin: 0;
}
.education_grid h3 {
  margin: 0;
}
.education_grid:last-child {
  padding-bottom: 0;
  border-bottom: none;
}

#programming_languages {
  width: 100%;
  float: left;
}

#game_dev_tools {
  width: 100%;
  float: left;
}

#dev_tools {
  width: 100%;
  float: left;
}

#os {
  width: 100%;
  float: left;
}

#other {
  width: 100%;
  float: left;
  padding-bottom: 3rem;
}

#relevant_coursework {
  margin-bottom: 3rem;
  width: 100%;
  float: left;
}
#relevant_coursework table {
  width: 100%;
  border-bottom: 1px solid #000bce;
  margin-top: 1rem;
}
#relevant_coursework table:first-child {
  margin-top: 0;
}
#relevant_coursework table:last-child {
  border-bottom: none;
}
#relevant_coursework table th {
  font-style: italic;
  font-size: 1.5em;
}
#relevant_coursework table td ul li {
  list-style-type: none;
  padding-bottom: 1rem;
}

.relevant_coursework_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0.5rem;
  text-align: center;
  padding: 0.5rem 0;
  border-bottom: 1px solid #000bce;
}
.relevant_coursework_grid .class p {
  vertical-align: bottom;
  margin-bottom: 0.5rem;
}
.relevant_coursework_grid .class h3 {
  margin: 0;
  font-style: italic;
}

#work {
  margin-bottom: 3rem;
  padding: 0 1rem;
}
#work h2 {
  text-align: center;
}

.work_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0.5rem;
  text-align: center;
  padding: 0.5rem 0;
  border-bottom: 1px solid #000bce;
}
.work_grid .job p {
  vertical-align: bottom;
  margin-bottom: 0.5rem;
}
.work_grid .job h3 {
  margin: 0;
  font-style: italic;
}

#honors h2 {
  text-align: center;
}

#venturing {
  width: 100%;
  height: 100%;
}
#venturing img {
  float: left;
  height: 160px;
  padding-right: 2rem;
}
#venturing table td {
  vertical-align: top;
}

#acm_contest {
  width: 100%;
  height: 100%;
}
#acm_contest img {
  float: left;
  height: 160px;
  padding-right: 2rem;
}
#acm_contest td {
  vertical-align: top;
}
