$blue: #000bce
$background-color: #EEEEEE
$gray: #e1e8de

$header-text-color: black
$navbar-link-color: $gray
$navbar-link-hover-color: $blue
$navbar-link-hover-background: $gray
$text-color: black
$link-color: $blue
$link-visited-color: $blue

$divider-color: $blue