@import 'common_variables'

*
    margin: 0
    padding: 0

html
    background-color: $background-color

h1
    color: $header-text-color
    text-align: center

h2
    color: $header-text-color
    text-align: center

h3
    color: $header-text-color

p
    color: $text-color

a
    color: $link-color

    &:visited
        color: $link-visited-color

hr
    color: $divider-color
    margin-top: 3rem
    margin-bottom: 3rem

.outerwrapper
    padding: $outerwrapper-padding