@import 'common_variables'

#education
    display: grid
    grid-template-columns: 1fr 1fr

    .school
        text-align: center
        margin: 1rem auto

        h3
            color: $blue

        p
            margin: 0.5rem auto

#computer_skills
    display: grid
    grid-template-columns: 1fr 1fr
    
    img
        max-width: 100px
        max-height: 80px

    .title
        grid-column-start: 1
        grid-column-end: 3

    .skill_group
        grid-template-columns: 1fr 1fr
        margin-bottom: 2rem
        margin-top: 1rem