<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>{{ site.title }} {{ page.title }}</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" media="screen" href="/assets/css/main.css" />
<link rel="stylesheet" type="text/css" media="screen" href="/assets/css/navbar.css" />
<link rel="stylesheet" type="text/css" media="screen" href="/assets/css/home_content.css" />
<link rel="stylesheet" type="text/css" media="screen" href="/assets/css/projects.css" />
<link rel="stylesheet" type="text/css" media="screen" href="/assets/css/media_query.css" />
<!-- <script src="js/interactive.js"></script> -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">