
<div id="header_content">
    <h1 id="header_text">{{ site.title }}</h1>
                
    <p>I am a recent graduate of the University of Nebraska-Lincoln where I received my master's degree in Computer Science researching educational video games. I also have a Bachelor's of Science in Computer Science from Kansas State University, where I focused my studies on cyber security and video game development.

    <br> <br>

    <p>My interests include software development, game development, cyber security, artificial intelligence, web development, and more.</p>
</div>