
<div id="header_content">
    <h1 id="header_text">{{ site.title }}</h1>
                
    <p>I am a master's student at the University of Nebraska-Lincoln studying Computer Science. I also have a Bachelor's of Science in Computer Science from Kansas State University, where I focused my studies on cyber security and video game development. I am a co-founder of the <a href="https://UNL-Game-Dev-Club.github.io" target="_blank">UNL Game Development Club</a> and researching educational game development/gamification as my master's thesis.</p>

    <br>

    <p>My interests include software development, game development, cyber security, artificial intelligence, web development, and more.</p>
</div>