<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>{{ site.title }}</title>
<link rel="stylesheet" type="text/css" media="screen" href="../static/css/main.css" />
<link rel="stylesheet" type="text/css" media="screen" href="../static/css/navbar.css" />
<link rel="stylesheet" type="text/css" media="screen" href="../static/css/home_content.css" />
<link rel="stylesheet" type="text/css" media="screen" href="../static/css/projects.css" />
<link rel="stylesheet" type="text/css" media="screen" href="../static/css/media_query.css" />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">