<div class="section">
    <h1>{{ include.section-data.title }}</h1>

    {% if include.section-data.preview-graphic %}
        <iframe src="{{ include.section-data.preview-graphic }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    {% endif %}

    {% if include.section-data == site.data.gamedev %}
        <h2>Unreal Engine Projects</h2>
        <div class="section-projects">
            {% for item in include.section-data.projects %}
                {% if item.platform == "Unreal" and item.hidden == false %}
                <div>
                    <a href="{{ include.section-data.page-link-prefix }}{{ item.title | downcase | replace: " ", "_" | replace: "!", "" | replace: ".", "" | replace: ",", "" }}.html" title="{{ item.title }}">
                        <figure>
                            <img src="{{ include.section-data.image-prefix }}{{ item.title | downcase | replace: " ", "_" | replace: "!", "" | replace: ".", "" | replace: ",", "" }}.png" alt="{{ item.title }}" title="{{ item.title }}">
                        </figure>
                        <span>{{ item.title }} ({{ item.language }})</span>
                    </a>
                </div>
                {% endif %}
            {% endfor %}
        </div>

        <h2>Unity Engine Projects</h2>
        <div class="section-projects">
            {% for item in include.section-data.projects %}
                {% if item.platform != "Unreal" and item.hidden == false %}
                <div>
                    <a href="{{ include.section-data.page-link-prefix }}{{ item.title | downcase | replace: " ", "_" | replace: "!", "" | replace: ".", "" | replace: ",", "" }}.html" title="{{ item.title }}">
                        <figure>
                            <img src="{{ include.section-data.image-prefix }}{{ item.title | downcase | replace: " ", "_" | replace: "!", "" | replace: ".", "" | replace: ",", "" }}.png" alt="{{ item.title }}" title="{{ item.title }}">
                        </figure>
                        <span>{{ item.title }} ({{ item.language }})</span>
                    </a>
                </div>
                {% endif %}
            {% endfor %}
        </div>
    {% else %}
        {% if include.section-data.show-subtitle %}
            <h2>{{ include.section-data.subtitle }}</h2>
        {% endif %}
        
        <div class="section-projects">
            {% for item in include.section-data.projects %}
                {% if item.hidden == false %}
                    <div>
                        <a href="{{ include.section-data.page-link-prefix }}{{ item.title | downcase | replace: " ", "_" | replace: "!", "" | replace: ".", "" | replace: ",", "" }}.html" title="{{ item.title }}">
                            <figure>
                                <img src="{{ include.section-data.image-prefix }}{{ item.title | downcase | replace: " ", "_" | replace: "!", "" | replace: ".", "" | replace: ",", "" }}.png" alt="{{ item.title }}" title="{{ item.title }}">
                            </figure>
                            <span>{{ item.title }} ({{ item.language }})</span>
                        </a>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}
</div>