<div id="navbar">
    <div class="navbar_link">
        <a href="{{ site.menu_permalink_index }}">{{ site.menu_text_index }}</a>
    </div>
    <div class="navbar_link">
        <a href="{{ site.menu_permalink_programming }}">{{ site.menu_text_programming }}</a>
    </div>
    <div class="navbar_link">
        <a href="{{ site.menu_permalink_websites }}">{{ site.menu_text_websites }}</a>
    </div>
    <div class="navbar_link">
        <a href="{{ site.menu_permalink_about }}">{{ site.menu_text_about }}</a>
    </div>
</div>