<div class="projects">
    <div>
        <!-- <a href="https://github.com/rclafferty/Machine-Learning-Tutorial" target="_blank" title="Machine Learning on GitHub"> -->
        <a href="{{ page.programming_project_dir }}machine_learning.html" target="_blank" title="Machine Learning">
            <figure>
                <img src="{{ page.programming_img_dir }}machine_learning.png" alt="">
            </figure>
            <span>Machine Learning (Python and R)</span>
        </a>
    </div>
    <div>
        <!-- <a href="https://github.com/rclafferty/Cipher-Implementations" target="_blank" title="Cipher Implementations on GitHub"> -->
        <a href="{{ page.programming_project_dir }}cipher.html" target="_blank" title="Cipher Implementations">
            <figure>
                <img src="{{ page.programming_img_dir }}cipher.png" alt="">
            </figure>
            <span>Cipher Implementations (Java)</span>
        </a>
    </div>
    <div>
        <!-- <a href="https://github.com/rclafferty/Household-Budget" target="_blank" title="Household Budgeting on GitHub"> -->
        <a href="{{ page.programming_project_dir }}household_budgeting.html" target="_blank" title="Household Budgeting">
            <figure>
                <img src="{{ page.programming_img_dir }}household.png" alt="">
            </figure>
            <span>Household Budgeting (C#)</span>
        </a>
    </div>
    <div>
        <!-- <a href="https://github.com/rclafferty/Javascript-Basics" target="_blank" title="JavaScript Basics on GitHub"> -->
        <a href="{{ page.programming_project_dir }}javascript_basics.html" target="_blank" title="JavaScript Basics">
            <figure>
                <img src="{{ page.programming_img_dir }}javascript.png" alt="">
            </figure>
            <span>JavaScript Basics Tutorial (JavaScript)</span>
        </a>
    </div>
</div>