<div class="highlights">
    <div class="projects">
        <div>
            <a href="{{ page.programming_project_dir }}cryocrypt.html" target="_blank" title="CryoCrypt on GitHub">
                <figure>
                    <img src="{{ page.programming_img_dir }}cryocrypt.png" alt="">
                </figure>
                <span>CryoCrypt (Unity C#)</span>
            </a>
        </div>
        <div>
            <a href="{{ page.programming_project_dir }}wooded.html" target="_blank" title="Wooded on GitHub">
                <figure>
                    <img src="{{ page.programming_img_dir }}wooded.png" alt="">
                </figure>
                <span>Wooded (Unity C#)</span>
            </a>
        </div>
        <div>
            <a href="{{ page.programming_project_dir }}glitch_garden.html" target="_blank" title="Sand on GitHub">
                <figure>
                    <img src="{{ page.programming_img_dir }}glitch_garden.png" alt="">
                </figure>
                <span>Glitch Garden (Unity C#)</span>
            </a>
        </div>
        <div>
            <a href="{{ page.programming_project_dir }}securing_cyberville.html" target="_blank" title="Securing Cyberville on GitHub">
                <figure>
                    <img src="{{ page.programming_img_dir }}securing_cyberville.jpg" alt="">
                </figure>
                <span>Securing Cyberville (Unity C#)</span>
            </a>
        </div>
    </div>
</div>