<div class="highlights">
    <div class="projects">
        <div>
            <a href="https://github.com/rclafferty/rclafferty.github.io/" target="_blank" title="Personal Website on GitHub Pages">
                <figure>
                    <img src="{{ page.websites_img_dir }}personal_website.png" alt="">
                </figure>
                <span>My Personal Website (GitHub Pages)</span>
            </a>
        </div>
        <div>
            <a href="https://UNL-Game-Dev-Club.github.io" target="_blank" title="UNL Game Dev Club Website">
                <figure>
                    <img src="{{ page.websites_img_dir }}unl_game_dev.png" alt="">
                </figure>
                <span>UNL Game Dev Club Website</span>
            </a>
        </div>
        <div>
            <a href="{{ site.ksu_homepage_url }}securing_cyberville/" target="_blank" title="Securing Cyberville Logs Site">
                <figure>
                    <img src="{{ page.websites_img_dir }}securing_cyberville.jpg" alt="">
                </figure>
                <span>Securing Cyberville Logs</span>
            </a>
        </div>
        <div>
            <a href="{{ site.ksu_homepage_url }}prev_websites/Responsive-CSS-Grid-Website/" target="_blank" title="Responsive CSS Grid Site">
                <figure>
                    <img src="{{ page.websites_img_dir }}responsive_css_website.png" alt="">
                </figure>
                <span>Responsive CSS Grid Tutorial</span>
            </a>
        </div>
    </div>
</div>