<h3>Resumes:</h3>

<p><a href="{{ site.gamedev_resume }}">Game Dev Resume</a></p>    
<p><a href="{{ site.software_resume }}">Software Dev Resume</a></p>

<h3>Other Profiles:</h3>
<p><a href="https://github.com/{{ site.github_username }}" target="_blank">GitHub</a></p>

<p><a href="https://{{ site.itch_username }}.itch.io/" target="_blank">Itch.io</a></p>

<p><a href="https://www.youtube.com/channel/{{ site.youtube_channelID }}" target="_blank">YouTube</a></p>

<p><a href="https://linkedin.com/in/{{ site.linkedin_username }}" target="_blank">LinkedIn</a></p>