<div id="profiles">
    <ul>
        <li><a href="https://github.com/{{ site.github_username }}" target="_blank">GitHub</a></li>
        <li><a href="https://{{ site.itch_username }}.itch.io/" target="_blank">Itch.io</a></li>
        <li><a href="https://www.youtube.com/channel/{{ site.youtube_channelID }}" target="_blank">YouTube</a></li>
        <li><a href="https://linkedin.com/in/{{ site.linkedin_username }}" target="_blank">LinkedIn</a></li>
    </ul>
</div>

<div id="resumes">
    <ul>
        <li><a href="{{ site.gamedev_resume }}">Game Dev Resume</a></li>
        <li><a href="{{ site.software_resume }}">Software Dev Resume</a></li>
    </ul>
</div>