<div id="skills">
    <div class="skills_list">
        <h3>What I know</h3>
        <ul>
            <li>Unity Game Development</li>
            <li>Java and C# programming</li>
            <li>MySQL Databases</li>
            <li>Penetration Testing</li>
            <li>How to play the cello</li>
        </ul>
    </div>
    <div class="skills_list">
        <h3>What I'm Learning</h3>
        <ul>
            <li>Unreal Game Development</li>
            <li>Python programming</li>
            <li>Machine Learning</li>
            <li>JavaScript (for web dev)</li>
            <li>How to be a grad student</li>
        </ul>
    </div>
    <div class="skills_list">
        <h3>What I've Done</h3>
        <ul>
            <li>Personal Website (by hand)</li>
            <li><a href="https://UNL-Game-Dev-Club.github.io" target="_blank">UNL GDC website</a></li>
            <li>7 video game development competitions</li>
            <li>9 ACM programming competitions</li>
            <li>Eagle Scout</li>
        </ul>
    </div>
    <div class="skills_list">
        <h3>More About Me</h3>
        <ul>
            <li><a href="https://github.com/rclafferty" target="_blank"><i class="fab fa-github social-media-icon"></i></a>&nbsp;<a href="https://github.com/rclafferty" target="_blank">GitHub</a></li>
            <li><a href="https://linkedin.com/in/rclafferty" target="_blank"><i class="fab fa-linkedin"></i></a>&nbsp;<a href="https://linkedin.com/in/rclafferty" target="_blank">LinkedIn</a></li>
            <li><a href="http://people.cs.ksu.edu/~rclafferty/documents/Robert_Casey_Lafferty_Game_Dev_Resume.pdf" target="_blank">Game Dev Resume (pdf)</a></li>
            <li><a href="http://people.cs.ksu.edu/~rclafferty/documents/Robert_Casey_Lafferty_Resume.pdf" target="_blank">Soft. Dev Resume (pdf)</a></li>
            <li><a href="resume.html" target="_blank">Online Resume</a></li>
        </ul>
    </div>
</div>