#home_content #header_text {
  text-align: center;
  margin: 0.5rem;
}
#home_content img {
  display: none;
}

#skills {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 0.5fr;
  margin: 3rem 2rem;
  grid-gap: 0.8rem;
}
#skills .skills_list h3 {
  margin-bottom: 0.6rem;
}
#skills .skills_list ul {
  padding-left: 1rem;
}
#skills .skills_list ul li {
  margin-top: 0.3rem;
}
