* {
  margin: 0;
}

body {
  background-color: #E5E7E9;
}

.navbar {
  background-color: black;
  color: #C0C0C0;
  margin: 0;
}
.navbar ul {
  margin: 0;
  padding: 1rem 20rem;
}
.navbar ul li {
  display: inline-block;
  margin-left: 4rem;
  font-size: 1.2rem;
}
.navbar ul li:first-child {
  margin-left: 0;
}
.navbar ul li a {
  padding: 0.5rem 1rem;
  color: #C0C0C0;
  text-decoration: none;
  border-radius: 10px;
}
.navbar ul li a:hover {
  background-color: #C0C0C0;
  color: black;
}

.outerwrapper {
  padding: 3rem 20rem;
}

.header-content {
  padding: 8rem 20rem;
  background-color: #dff600;
}
.header-content h1 {
  padding-bottom: 2rem;
  text-align: center;
  font-size: 3rem;
}
.header-content h2 {
  font-size: 1.7rem;
  text-align: center;
}
.header-content .header-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.main-content {
  padding: 3rem 20rem;
}
.main-content h1, .main-content h2 {
  text-align: center;
  padding-bottom: 1rem;
}
.main-content h2 {
  font-size: 1.7rem;
}
.main-content h3 {
  font-size: 1.3rem;
}

.preview {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
}
.preview-section {
  border-right: 1px solid black;
  padding-right: 2rem;
}
.preview-section h3 {
  padding-bottom: 1rem;
}
.preview-section:last-child {
  padding-right: none;
  border-right: none;
}
.preview-section .link {
  padding: 1rem 0;
  font-size: 1.4rem;
}
.preview-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5px;
  grid-row-gap: 5rem;
}
.preview-grid img {
  max-width: 18rem;
  margin: 0 auto;
}

hr {
  margin: 4rem 0;
}
