---
layout: skeleton
---

<h2>Website Development Highlights</h2>

{% include preview_websites.html %}

<!-- <hr> -->

<h2>More Web Dev Projects</h2>

<div class="projects">
    <div>
        <a href="{{ site.ksu_homepage_url }}prev_websites/overlandpark/" target="_blank" title="Household Budgeting on GitHub">
            <figure>
                <img src="{{ page.websites_img_dir }}overland_park.png" alt="">
            </figure>
            <span>History of Overland Park</span>
        </a>
    </div>
    <div>
        <a href="{{ site.ksu_homepage_url }}prev_websites/my_lai/" target="_blank" title="Household Budgeting on GitHub">
            <figure>
                <img src="{{ page.websites_img_dir }}my_lai.png" alt="">
            </figure>
            <span>My Lai Massacre</span>
        </a>
    </div>
    <div>
        <a href="{{ site.ksu_homepage_url }}weeklyLogs/" target="_blank" title="Household Budgeting on GitHub">
            <figure>
                <img src="{{ page.websites_img_dir }}weekly_logs.png" alt="">
            </figure>
            <span>Weekly Logs and Paper Summaries</span>
        </a>
    </div>
</div>