---
layout: project_skeleton
---

<h2>Video Game Development Highlights</h2>

{% include preview_video_games.html %}

<h2>More Game Development Projects</h2>


<div class="projects">
    <div>
        <a href="{{ page.programming_project_dir }}yggdrasil.html" target="_blank" title="Yggdrasil on GitHub">
            <figure>
                <img src="{{ page.programming_img_dir }}yggdrasil.png" alt="">
            </figure>
            <span>Yggdrasil (Unity C#)</span>
        </a>
    </div>
    <div>
        <a href="{{ page.programming_project_dir }}sand.html" target="_blank" title="Sand on GitHub">
            <figure>
                <img src="{{ page.programming_img_dir }}sand.png" alt="">
            </figure>
            <span>Sand (Unity C#)</span>
        </a>
    </div>
    <div>
        <a href="{{ page.programming_project_dir }}laser_defender.html" target="_blank" title="Laser Defender on GitHub">
            <figure>
                <img src="{{ page.programming_img_dir }}laser_defender2.png" alt="">
            </figure>
            <span>Laser Defender (Unity C#)</span>
        </a>
    </div>
    <div>
        <a href="{{ page.programming_project_dir }}block_breaker.html" target="_blank" title="Block Breaker on GitHub">
            <figure>
                <img src="{{ page.programming_img_dir }}block_breaker.png" alt="">
            </figure>
            <span>Block Breaker (Unity C#)</span>
        </a>
    </div>
    <div>
        <a href="{{ page.programming_project_dir }}transformation.html" target="_blank" title="Transformation on GitHub">
            <figure>
                <img src="{{ page.programming_img_dir }}transformation.png" alt="">
            </figure>
            <span>Transformation (Unity C#)</span>
        </a>
    </div>
    <div>
        <a href="{{ page.programming_project_dir }}basketball3d.html" target="_blank" title="Basketball3D on GitHub">
            <figure>
                <img src="{{ page.programming_img_dir }}basketball.png" alt="">
            </figure>
            <span>Basketball 3D (Unity C#)</span>
        </a>
    </div>
</div>

<hr>

<h2>Software Development Highlights</h2>

{% include preview_programming.html %}

<h2>More Software Development Projects</h2>

<div class="projects">
    <div>
        <a href="{{ page.programming_project_dir }}runescape_exp_calculator.html" target="_blank" title="JavaScript Basics">
            <figure>
                <img src="{{ page.programming_img_dir }}runescape_exp_calculator.png" alt="">
            </figure>
            <span>Runescape Exp Calculator (C#)</span>
        </a>
    </div>
</div>