---
layout: project
---

{% if page.has_itch_link == "Yes" %}

{% assign game_url_title= page.title | replace: " ", "-" | replace: "!", "" | replace: ".", "" | replace: ",", "" %}
{% assign itch_link="https://" | append: site.itch_username | append: ".itch.io/" | append: game_url_title %}

{% if page.itch_link != nil %}
    {% assign itch_link=page.itch_link %}
{% endif %}

<h3>
    <div class="question_title">
        Play on Itch.io:
    </div>
    <div class="question_text">
        <a href="{{ itch_link }}" title="{{ page.title }} on Itch.io" target="_blank">
            {{ itch_link }}
        </a>
    </div>

    {% if page.alt_title %}
        {% assign game_url_alt_title= page.alt_title | replace: " ", "-" | replace: "!", "" | replace: ".", "" | replace: ",", "" %}
        {% assign itch_alt_link="https://" | append: site.itch_username | append: ".itch.io/" | append: game_url_alt_title %}
        <div class="question_text">
            <a href="{{ itch_alt_link }}" target="_blank" title="{{ page.title }} on Itch.io">
                {{ itch_alt_link }}
            </a>
        </div>
    {% endif %}
</h3>

{% endif %}

<h3>
    <div class="question_title">
        Roles:
    </div>
    <div class="question_text">
        {{ page.roles }}
    </div>
</h3>

<h3>
    <div class="question_title">
        Platform Support:
    </div>
    <div class="question_text">
        {{ page.platform_support }}
    </div>
</h3>

<h3>
    <div class="question_title">
        Controls:
    </div>
    <div class="question_text">
        {{ page.controls }}
    </div>
</h3>

<h3>
    <div class="question_title">
        Requires Admin Privileges:
    </div>
    <div class="question_text">
        {{ page.requires_privileges }}
    </div>
</h3>

<h3>
    <div class="question_title">
        Actively Developing:
    </div>
    <div class="question_text">
        {{ page.actively_developing }}
    </div>
</h3>

<h3>What have I learned from this project?</h3>
<p>
    {{ page.what_i_learned }}
</p>