---
layout: skeleton
---

<h2>{{ page.section_title_video_games }}</h2>
<p class="center subheading">{{ page.blurb_template_1 }} {{ page.section_title_video_games_noun }} {{ page.blurb_template_2 }} {{ page.section_title_video_games_ref_page }} {{ page.blurb_template_3 }}</p>

<div class="highlights">
    {% include preview_video_games.html %}
</div>

<hr>

<h2>{{ page.section_title_programming }}</h2>
<p class="center subheading">{{ page.blurb_template_1 }} {{ page.section_title_programming_noun }} {{ page.blurb_template_2 }} {{ page.section_title_programming_ref_page }} {{ page.blurb_template_3 }}</p>

<div class="highlights">
    {% include preview_programming.html %}
</div>

<hr>

<h2>{{ page.section_title_websites }}</h2>
<p class="center subheading">{{ page.blurb_template_1 }} {{ page.section_title_websites_noun }} {{ page.blurb_template_2 }} {{ page.section_title_websites_ref_page }} {{ page.blurb_template_3 }}</p>

<div class="highlights">
    {% include preview_websites.html %}
</div>

<hr>

<div class="highlights about">
    {% include preview_about.html %}
</div>