---
layout: project
---

<h3>
    <div class="question_title">
        Roles:
    </div>
    <div class="question_text">
        {{ page.roles }}
    </div>
</h3>

<h3>
    <div class="question_title">
        Platform Support:
    </div>
    <div class="question_text">
        {{ page.platform_support }}
    </div>
</h3>

<h3>
    <div class="question_title">
        Requires Admin Privileges:
    </div>
    <div class="question_text">
        {{ page.requires_privileges }}
    </div>
</h3>

<h3>
    <div class="question_title">
        Actively Developing:
    </div>
    <div class="question_text">
        {{ page.actively_developing }}
    </div>
</h3>

<h3>What have I learned from this project?</h3>
<p>
    {{ page.what_i_learned }}
</p>