---
layout: wrapper
---

{% assign active_data_set = nil %}
{% assign active_item = nil %}

{% if page.type == "game" %}
    {% assign active_data_set = site.data.gamedev %}
{% elsif page.type == "software" %}
    {% assign active_data_set = site.data.softwaredev %}
{% else %}
    {% assign active_data_set = site.data.webdev %}
{% endif %}

<hr>

{% for item in active_data_set.projects %}
    {% if item.title == page.title %}
        {% assign active_item = item %}
    {% endif %}
{% endfor %}

{% if active_item.platform %}
    <h1>{{ active_item.title }} ({{ active_item.platform }} {{ active_item.language }})</h1>
{% elsif active_item.language %}
    <h1>{{ active_item.title }} ({{ active_item.language }})</h1>
{% else %}
    <h1>{{ active_item.title }}</h1>
{% endif %}

{% if active_item.youtube-link %}
    <iframe class="project-video" src="{{ active_item.youtube-link }}" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
{% elsif active_item.project-image-2 %}
    <div class="project-image-2">
        <img src="{{ active_data_set.image-prefix }}{{ active_item.project-image }}" alt="{{ active_item.title }} image 1">
        <img src="{{ active_data_set.image-prefix }}{{ active_item.project-image-2 }}" alt="{{ active_item.title }} image 2">
    </div>
{% elsif active_item.project-image %}
    <div class="project-image">
        <img src="{{ active_data_set.image-prefix }}{{ active_item.project-image }}" alt="{{ active_item.title }}">
    </div>
{% else %}

{% assign image_title= page.title | replace: " ", "_" | replace: "!", "" | replace: ".", "" | replace: ",", "" | downcase %}
<div class="project-image">
    <img src="{{ active_data_set.image-prefix }}{{ image_title }}.png" alt="{{ active_item.title }}">
</div>
{% endif %}

{{ content }}

{% assign game_url_title= page.title | replace: " ", "-" | replace: "!", "" | replace: ".", "" | replace: ",", "" %}

{% if active_item.github-link != nil %}
    {% assign github_link=active_item.github-link %}
{% else %}
    {% assign github_link="https://github.com/" | append: site.github_username | append: "/" | append: game_url_title %}
{% endif %}

<h3 class="question-title">GitHub Link:</h3>
<p class="question-text">
    <a href="{{ github_link }}" target="_blank" title="{{ page.title }} on GitHub">
        {{ github_link }}
    </a>
</p>

{% if active_item.alt-title %}
    {% assign game_url_alt_title= active_item.alt-title | replace: " ", "-" | replace: "!", "" | replace: ".", "" | replace: ",", "" %}
    {% assign github_alt_link="https://github.com/" | append: site.github_username | append: "/" | append: game_url_alt_title %}

    <p class="question-text">
        <a href="{{ github_link }}" target="_blank" title="{{ active_item.alt-title }} on GitHub">
            {{ github_alt_link }}
        </a>
    </p>
{% endif %}

{% if active_item.has-itch-link == "Yes" %}
    {% if active_item.itch-link != nil %}
        {% assign itch_link=active_item.itch-link %}
    {% else %}
        {% assign itch_link="https://" | append: site.itch_username | append: ".itch.io/" | append: game_url_title %}
    {% endif %}
    
    <h3 class="question-title">Play on Itch.io:</h3>
    <p>
        <a href="{{ itch_link }}" title="{{ active_item.title }} on Itch.io" target="_blank">
            {{ itch_link }}
        </a>
    </p>

    {% if active_item.alt-itch-link != nil %}
        <p>
            <a href="{{ active_item.alt-itch-link }}" title="{{ active_item.alt-title }} on Itch.io" target="_blank">
                {{ active_item.alt-itch-link }}
            </a>
        </p>
    {% endif %}
{% endif %}

{% if active_item.web-link %}
<h3 class="question-title">Live Website:</h3>
<p>
    <a href="{{ active_item.web-link }}" title="{{ active_item.title }} live site" target="_blank">
        {{ active_item.web-link }}
    </a>
</p>
{% endif %}

{% if active_item.roles != nil %}
<h3 class="question-title">Roles:</h3>
<p class="question-text">{{ active_item.roles }}</p>
{% endif %}

{% if active_item.platform-support != nil %}
<h3 class="question-title">Platform Support:</h3>
<p class="question-text">{{ active_item.platform-support }}</p>
{% endif %}

{% if active_item.controls != nil %}
<h3 class="question-title">Controls:</h3>
<p class="question-text">{{ active_item.controls }}</p>
{% endif %}

{% if active_item.requires-privileges != nil %}
<h3 class="question-title">Requires Admin Privileges:</h3>
<p class="question-text">{{ active_item.requires-privileges }}</p>
{% endif %}

{% if active_item.actively-developing != nil %}
<h3 class="question-title">Actively Developing:</h3>
<p class="question-text">{{ active_item.actively-developing }}</p>
{% endif %}

{% if active_item.what-i-learned != nil %}
<h3 class="question-title">What have I learned from this project?</h3>
<p class="question-text">{{ active_item.what-i-learned }}</p>
{% endif %}