* {
  margin: 0;
  padding: 0;
}

html {
  background-color: #E1E8DE;
  color: black;
}

a {
  color: #000BCE;
}

h1 {
  text-decoration: underline;
  text-align: center;
  color: #000BCE;
}

h2 {
  color: #000BCE;
}

h3 {
  color: #000BCE;
}

footer {
  text-align: center;
  font-style: italic;
  padding-bottom: 1.5rem;
}
