body {
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	background-color: #D9D9D9;
	font-size: 18px;
	min-width: 1300px;

	color: #4484CE;

	-webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
}
body h2 {
	text-decoration: underline;
	font-family: "Arial Black", Gadget, sans-serif;
	/*<!--text-align: center;-->*/
}
body a {
	color: #4484CE;
	border-radius: 10px;
}
#navbar {
	display: block;
	height: 45px;
	background-color: #4484CE;
}
#navbar ul {
	list-style-type: none;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;

	-webkit-margin-before: 0em;
	-webkit-margin-after: 0em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-start: 0px;

}
#navbar a {
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	width: 20%;
	display: block;	
	float: left;	
	font-size: 24px;
        color: #D9D9D9;
	margin-top: 9px;
	margin-left: 2%;
	margin-right: 2%;

    transition: 0.5s;
}
#navbar a:hover {
	background-color: #D9D9D9;
	color: #4484CE;
}
#navbar a.thispage {
	background-color: #D9D9D9;
	color: #4484CE;
}



#navbar2 {
	display: block;
	height: 45px;
	background-color: #D9D9D9;
}
#navbar2 ul {
	list-style-type: none;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;

	-webkit-margin-before: 0em;
	-webkit-margin-after: 0em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-start: 0px;

}
#navbar2 a {
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	width: 20%;
	display: block;	
	float: left;	
	font-size: 24px;
    color: #4484CE;
	margin-top: 9px;
	margin-left: 6.5%;
	margin-right: 6.5%;

    transition: 0.5s;
}
#navbar2 a:hover {
	background-color: #4484CE;
	color: #D9D9D9;
}
#navbar2 a.active {
	background-color: #4484CE;
	color: #D9D9D9;
}

/*navbar3*/

#navbar3 {
	display: block;
	height: 45px;
	background-color: #D9D9D9;
}
#navbar3 ul {
	list-style-type: none;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;

	-webkit-margin-before: 0em;
	-webkit-margin-after: 0em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-start: 0px;

}
#navbar3 a {
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	width: 15%;
	display: block;	
	float: left;	
	font-size: 24px;
    color: #4484CE;
	margin-top: 9px;
	margin-left: 5%;
	margin-right: 5%;

    transition: 0.5s;
}
#navbar3 a:hover {
	background-color: #4484CE;
	color: #D9D9D9;
}
#navbar3 a.active {
	background-color: #4484CE;
	color: #D9D9D9;
}

.tabcontent {
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s; /* Fading effect takes 1 second */
    padding-left: 5%;
    padding-right: 5%;
    
}

@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}


#content {
	margin-left: 1em;
	margin-right: 1em;
	margin-top: 1em;
}
#content_picture {
	float: left;
}
#content_text {
	float: left;
	margin-left: 5%;
}
.table_pic {
	/*width: 34%;*/
	padding-left: 5%;
	padding-bottom: 5%;
	float: right;
	text-align:right;
}
.table_pic a img{
	float: right;
	border-radius: 25px;
}
.table_text {
	width: 100%;
	color: #4484CE;
	
	border-style: none;
}
.table_text ul {
	
}
.table_section {
	margin-left: 1em;
	margin-right: 1em;
	margin-top: 1em;

	height: 370px;
}
.image_me img {
	
	margin-right: 1em;
	
	margin-bottom: 1em;
	float:left;
	border-radius: 25px;
	height: 250px;
	width:440px;
}
footer {
	float: center;
	text-align: center;
}
#outerwrapper {
	margin-left: 1em;
	margin-right: 1em;
	margin-top: 1em;
	margin-bottom: 1em;
}
#gameJamVid {
	float: right;
}
#VCVid {
	float: left;
}
iframe {
	border: none;
}
#title {
	padding-left: 37%;
}
#academic {
	padding-left: 39%;
}
#professional {
	padding-left: 36%;
}
#extra {
	 padding-left: 35%;
}
#more {
	 padding-left:37%;
}

.hover07 figure img {
	-webkit-filter: blur(3px);
	filter: blur(3px);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.hover07 figure:hover img {
	-webkit-filter: blur(0);
	filter: blur(0);
}
.column div span {
	position: absolute;
	bottom: -20px;
	left: 0;
	z-index: -1;
	display: block;
	width: 300px;
	margin: 0;
	padding: 0;
	color: #444;
	font-size: 18px;
	text-decoration: none;
	text-align: center;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
	opacity: 0;
}