body {
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: 18px;
	min-width: 1300px;

	color: black;
}
body h2 {
	font-family: "Arial Black", Gadget, sans-serif;
}
body a {
	color: #4484CE;
}
#navbar ul {
	list-style-type: none;
}
#navbar a {
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	width: 20%;
	float: left;
	margin-left: 2%;
	margin-right: 2%;
}
#navbar a.thispage {
	text-decoration: underline;
}
#content {
	margin-left: 1em;
	margin-right: 1em;
}
#content_text {
	float: left;
	margin-left: 5%;
}
.table_text {
	width: 100%;
	color: #4484CE;
	
	border-style: none;
}
.table_section {
	margin-left: 1em;
	margin-right: 1em;
	height: 370px;
}
footer {
	float: center;
	text-align: center;
}
#outerwrapper {
	margin-left: 1em;
	margin-right: 1em;
	margin-bottom: 1em;
}
