/*body {font-family: "Lato", sans-serif;}*/

ul.tab {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    /*margin-left: 5%;
    margin-right:74%;*/
}

/* Float the list items side by side */
ul.tab li {float: left;}

/* Style the links inside the list items */
ul.tab li a {
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.5s;
    font-size: 17px;
}

/* Change background color of links on hover */
ul.tab li a:hover {
}

/* Create an active/current tablink class */
ul.tab li a:focus, .active {
}

/* Style the tab content */
.tabcontent {
    display: none;
    
    /*padding: 6px 12px;*/
    /*border: 0px solid #ccc;*/
    /*border-top: none;*/

    padding-right: 5%;
    padding-left: 5%;
}