/* Body */
	body {
		margin-left: 0px;
		margin-right: 0px;
		margin-top: 0px;
		margin-bottom: 0px;
		background-color: #D9D9D9;
		min-width: 1340px;
		font-size: 18px;
		color: #4484CE;

		-webkit-animation: fadeEffect 1s;
	    animation: fadeEffect 1s;
		font-family: "Arial", Gadget, sans-serif;
	}
	body a {
		color: #4484CE;
		border-radius: 25px;
	}
	body h1, h2 {
		text-decoration: underline;
		font-family: "Arial Black", Gadget, sans-serif;
	}

/* NavBar*/
	#navbar {
		display: block;
		height: 45px;
		background-color: #4484CE;
	}
	#navbar ul {
		list-style-type: none;
		margin-top: 0px;
		margin-bottom: 0px;
		margin-left: 0px;
		margin-right: 0px;

		-webkit-margin-before: 0em;
		-webkit-margin-after: 0em;
		-webkit-margin-start: 0px;
		-webkit-margin-end: 0px;
		-webkit-padding-start: 0px;

	}
	#navbar a {
		text-transform: uppercase;
		text-decoration: none;
		text-align: center;
		width: 20%;
		display: block;	
		float: left;	
		font-size: 24px;
	        color: #D9D9D9;
		margin-top: 9px;
		margin-left: 2%;
		margin-right: 2%;

	    transition: 0.5s;
	}
	#navbar a:hover {
		background-color: #D9D9D9;
		color: #4484CE;
	}
	#navbar a.thispage {
		background-color: #D9D9D9;
		color: #4484CE;
	}

/* column */
	.column {
		margin-left: 2%;
		margin-right: 2%;
		padding: 0;
		float: middle;
	}
	.column:last-child {
		padding-bottom: 60px;
	}
	.column::after {
		content: '';
		clear: both;
		display: block;
	}
	.column div {
		position: relative;
		float: left;
		margin-left: 2.2%;
		margin-right: 2.2%;
		padding: 0;
	}
	.column div:first-child {
		margin-left: 0;
	}
	.column div:last-child {
		margin-right: 0;
	}
	.column div span {
		position: absolute;
		bottom: -20px;
		left: 0;
		z-index: -1;
		display: block;
		width: 100%;
		margin: 0;
		padding: 0;
		color: #444;
		font-size: 26px;
		text-decoration: none;
		text-align: center;
		-webkit-transition: .3s ease-in-out;
		transition: .3s ease-in-out;
		opacity: 0;
	}

	/* blur */
		.hover07 figure img {
			-webkit-filter: blur(2px);
			filter: blur(2px);
			-webkit-transition: .3s ease-in-out;
			transition: .3s ease-in-out;
		}
		.hover07 figure:hover img {
			-webkit-filter: blur(0);
			filter: blur(0);
		}

/* image */
	figure img {
		-webkit-filter: blur(2px);
		filter: blur(2px);
		-webkit-transition: .3s ease-in-out;
		transition: .3s ease-in-out;
		border-radius: 25px;
	}
	figure:hover img {
		-webkit-filter: blur(0);
		filter: blur(0);
	}
	figure {
		height: 230px;
		width: 380px;
		margin: 0;
		padding: 0;
		/*background: #fff;*/
		background: #D9D9D9;
		overflow: hidden;
		border-radius: 25px;
	}
	figure:hover+span {
		vertical-align: top;
		bottom: -60px;
		opacity: 1;
		color: #4484CE;
	}

/* column2 */
	.column2 {
		margin-left: 2%;
		margin-right: 2%;
		padding: 0;
	}
	.column2:last-child {
		padding-bottom: 0px;
	}
	.column2::after {
		content: '';
		clear: both;
		display: block;
	}
	.column2 div {
		position: relative;
		margin-bottom: 2%;
		margin-top: 2%;
		padding: 0;
	}
	.column2 div span {
		position: relative;
		bottom: 9em;
		left: 0em;
		z-index: 1;
		display: block;
		width: 60%;
		float: right;
		margin: 0;
		padding: 0;
		color: #444;
		font-size: 24px;
		text-decoration: none;
		text-align: center;
		-webkit-transition: .3s ease-in;
		transition: .3s ease-in;
	}

	.column2 div span h3 {
		text-decoration: underline;
		-webkit-margin-before:0em;
		-webkit-margin-after: 0em;
	}

	/* blur */
		.hover07_2 figure img {
			-webkit-filter: blur(2px);
			filter: blur(2px);
			-webkit-transition: .3s ease-in;
			transition: .3s ease-in;
		}
		.hover07_2 figure:hover img {
			-webkit-filter: blur(0);
			filter: blur(0);
		}

/* image */
	.column2 figure img {
		-webkit-filter: blur(2px);
		filter: blur(2px);
		-webkit-transition: .3s ease-in-out;
		transition: .3s ease-in-out;
		border-radius: 25px;
	}
	/*.column2 figure:hover img {
		-webkit-filter: blur(0);
		filter: blur(0);
	}*/
	.column2 figure {
		height: 230px;
		width: 380px;
		margin: 0;
		padding: 0;
		/*background: #fff;*/
		background: #D9D9D9;
		overflow: hidden;
		border-radius: 25px;
	}
	.column2 figure:hover+span {
		opacity: 1;
		color: #4484CE;
	}

.hover_c {
	-webkit-margin-before: 0em;
	-webkit-margin-after: 0em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-start: 0px;
}
.hover_c span{
	opacity: 0.5;
}
.hover_c span:hover{
	opacity: 1;
	color: #4484CE;
}
.hover_c:hover+figure+span {
	-webkit-filter: blur(0);
	filter: blur(0);
	opacity: 1;
}

/* title -- Name/Blurb */
	.title {
		text-align: left;
		width: 100%;
	}
	.title h1 {
		text-decoration: underline;
		-webkit-margin-before:0em;
		-webkit-margin-after: 0em;
	}
	.title h2 {
		text-decoration: underline;
		-webkit-margin-before:0em;
		-webkit-margin-after: 0em;
	}
	.title p {
		font-size: 22px;
	}

.header {
	text-align: center;
	color: #4484CE;
	text-decoration: none;
}

.image_me img {
	
	margin-right: 1em;
	
	float:left;
	border-radius: 25px;
	height: 250px;
	width:440px;
}

#outerwrapper {
	padding-left: 1em;
	padding-right: 1em;
	padding-top: 1em;
}

/* individual project css */
	.table_pic a img{
		float: right;
		border-radius: 25px;
	}
	.table_text {
		width: 100%;
		color: #4484CE;
		
		border-style: none;
	}
	.table_text h1 {
		text-align: left;
	}
	.table_text h2 {
		text-align: left;
	}
	.table_section {
		margin-left: 1em;
		margin-right: 1em;
		margin-top: 1em;

		height: 370px;
	}

footer {
	float: center;
	text-align: center;
}

/* Videos */
	#gameJamVid iframe {
		float: right;
	}
	#VCVid {
		float: left;
	}
	iframe {
		overflow: hidden;
		border-radius: 75px;
		border: none;
	}